<h1>Edit page</h1>
<div class="container">
  <%= simple_form_for @group do |f| %>
    <% if @group.errors.any?%>
    	<h4>Errors</h4>
    <%end%>
    <%= f.input :title %>
    <%= f.input :description%>
    <%=f.submit 'Save'%>
  <%end%>
</div>